@import url("https://fonts.googleapis.com/css2?family=Inter");

.App {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.custom-icon-button {
  color: #69afd2;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Adding transition for smooth effect */
}

.custom-icon-button:hover {
  transform: scale(1.1); /* Scale up a bit on hover, adjust as needed */
}

.dark {
  background-color: #1d1d1d;
  color: #fff;
  .recently-list li {
    color: #e4e4e4;
  }
}

.light {
  background-color: #fff;
  color: #333;
  .back-to-top-button {
    background-color: #d9d9d9;
  }
  .footer {
    color: #5c5c5c;
  }
  .project-header {
    color: #5c5c5c;
  }
  .company-link {
    border-bottom: 2px solid #7fa9c5;
  }
}

.link {
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-container {
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Add margin on both sides */
}

.left-aligned {
  text-align: left;
  max-width: 650px; /* Limit the width for better readability */
  width: 100%;
  margin-left: 270px;
}

.App-header {
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.resume-download {
  margin-top: 20px;
}

.resume-download a {
  color: #69afd2;
}

a {
  color: rgb(170, 170, 170);
}

a:hover {
  text-decoration: underline;
  background-position: 0 0;
  transition: background-position 0.3s ease;
}

.recently-section {
  margin-top: 40px;
  position: relative;
}

.recently-heading {
  position: relative;
  display: inline-block;
}

.recently-hr {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  border: 0;
  height: 1px;
  width: 95vh; /* Adjust the length of the lines as needed */
  background-color: #868686;
  margin-right: 10px; /* Adjust the distance between the heading and the lines */
}

.recently-list {
  padding: 20px; /* Light grey color for the bullet points */
}

.recently-list li {
  margin-bottom: 8px;
}

.projects-section {
  margin-top: 20px;
  position: relative;
}

.project-item {
  display: inline-block;
  margin-top: 20px;
}

.project-tag {
  display: inline-block;
  padding: 2px 8px;
  font-size: 13px;
  background-color: #77a2c4;
  color: #fff;
  border-radius: 15px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.project-mini-tag {
  background-color: #6ec0c3; /* Adjust the color for mini projects */
}

.project-year {
  color: #777;
}

.view-project-link {
  display: inline-block;
  color: #69afd2; /* Adjust the color as needed */
  text-decoration: none;
  margin-top: 8px;
}

.projects-hr {
  position: absolute;
  top: 1.5%;
  left: 65px;
  transform: translateY(-50%);
  border: 0;
  height: 1px;
  width: 95vh; /* Adjust the length of the lines as needed */
  background-color: #868686;
  margin-right: 10px; /* Adjust the distance between the heading and the lines */
}

.project-item {
  margin-bottom: 10px;
}

.resume-download {
  color: #69afd2;
}

.spacer-hr {
  background-color: #868686;
  border: 0;
  height: 1px;
  margin-top: 40px;
  width: auto; /* Adjust the length of the lines as needed */
}

.footer {
  color: rgb(170, 170, 170);
  text-align: center;
  margin-top: 10px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column1 {
  flex-basis: 10%; /* Adjust the width of each column as needed */
}

@media only screen and (max-width: 1050px) {
  .left-aligned {
    margin-left: 140px;
  }

  .recently-hr {
    width: 45vh;
  }

  .projects-hr {
    width: 45vh;
    top: 1.2%;
  }

  .spacer-hr {
    width: 100%; /* Full width horizontal lines on small screens */
    left: 0;
    margin-right: 0;
  }

  .view-project-link {
    margin-bottom: 10px;
  }

  .recently-list,
  .projects-section,
  .project-item {
    margin-top: 10px; /* Adjust spacing for small screens */
  }

  .footer-columns {
    flex-direction: column; /* Stack columns in a vertical layout */
  }

  .footer-column1 {
    flex-basis: 60%; /* Take up full width on small screens */
  }
}

@media only screen and (max-width: 1000px) {
  .left-aligned {
    margin-left: 50px;
  }

  .recently-hr {
    width: 50vh;
  }

  .projects-hr {
    width: 50vh;
    top: 1.2%;
  }

  .spacer-hr {
    width: 100%; /* Full width horizontal lines on small screens */
    left: 0;
    margin-right: 0;
  }

  .view-project-link {
    margin-bottom: 10px;
  }

  .recently-list,
  .projects-section,
  .project-item {
    margin-top: 10px; /* Adjust spacing for small screens */
  }

  .footer-columns {
    flex-direction: column; /* Stack columns in a vertical layout */
  }

  .footer-column1 {
    flex-basis: 60%; /* Take up full width on small screens */
  }
}

/* Responsive styles for tablets (up to 768px) */
@media only screen and (max-width: 768px) {
  .left-aligned {
    margin-left: 0;
  }

  .footer-columns {
    flex-direction: row; /* Stack columns in a vertical layout */
    text-align: center;
  }

  .footer-column1 {
    flex-basis: 40%; /* Take up full width on small screens */
  }

  .recently-hr {
    width: 60vh;
  }

  .projects-hr {
    width: 60vh;
  }

  .spacer-hr {
    width: 100%; /* Full width horizontal lines on small screens */
    left: 0;
    margin-right: 0;
  }
}

/* Responsive styles for mobile devices (up to 480px) */
@media only screen and (max-width: 480px) {
  .content-container {
    padding: 0 10px; /* Reduce padding on small screens */
  }

  .left-aligned {
    margin-left: 0;
  }

  .recently-hr {
    width: 37vh;
  }

  .projects-hr {
    width: 37vh;
    top: 1.2%;
  }

  .spacer-hr {
    width: 100%; /* Full width horizontal lines on small screens */
    left: 0;
    margin-right: 0;
  }

  .view-project-link {
    margin-bottom: 10px;
  }

  .recently-list,
  .projects-section,
  .project-item {
    margin-top: 10px; /* Adjust spacing for small screens */
  }

  .footer-columns {
    flex-direction: column; /* Stack columns in a vertical layout */
  }

  .footer-column1 {
    flex-basis: 60%; /* Take up full width on small screens */
  }
}

.back-to-top-button {
  font-size: small;
  position: fixed;
  font-weight: 500;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  background-color: #a9a9a9;
  color: #1d1d1d;
}

.company-link {
  color: #69afd2; /* Adjust the color as needed */
  font-weight: 500;
  border-bottom: 2px solid #36454f;
  text-decoration: none;
}

.company-link:hover {
  text-decoration: none;
}
